ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.nav_container {
    width: 580px;
    padding: 0 20px;
    padding-bottom: 40px;
    margin-left: 930px;
}

.nav_link_container {
    display: flex;
    column-gap: 20px;
    color: #fff;
}

.nav_link_container li {
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}